<!-- NAVIGATION -->
<div id="introBar">
	<img src="assets/images/austinPPE.jpg" alt="Austin PPE Logo" class="logo">
</div>
<nav>
	<div class="nav-wrapper blue darken-2">
      <!-- <a href="#!" class="brand-logo">Logo</a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/involvement">Get Involved</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/involvement">Get Involved</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
</nav>


<h2>admin page</h2>
<a href="/">Home</a>



<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>
  <script src="assets/js/main.js"></script>