<!-- NAVIGATION -->
<div id="introBar">
  <img src="assets/images/blueLogo.jpg" alt="Austin PPE Logo" class="logo">
</div>

<nav class="z-depth-3">
  <div class="nav-wrapper blue darken-2">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/involvement">Get Involved</a></li>
        <li class="active"><a href="/admin">Admin</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/involvement">Get Involved</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
</nav>

<!-- <div class="placeHolder">
	<div class="row">
		<div class="col s12">
			<div class="constructionSignDiv">
				<img class="constructionSign" src="assets/images/construction.jpg">
			</div>
		</div>
	</div>
</div> -->

<div>
  {{#if user}}
      <p class="loginText">Howdy, {{user.username}}<a href="/logout" class="grey-text"> logout</a></p>
  {{^}}
    <div id="formHolder">
     <form id="adminLoginForm" action="/login" method="post">
          <label class="">Username:</label>
          <input type="text" name="username" required="true"/><br/>
          <label>Password:</label>
          <input type="password" name="password" required="true"/>
          <input type="hidden" value="/" name="pathName">
          <input type="submit" value="Submit"/>
      </form>
    </div>
  {{/if}}
</div>

<!-- FOOTER -->
  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text" id="joinTitle">Join Our Mailing List</h5>
          <p class="black-text text-lighten-1">Please join our mailing list to receive important news and updates from Austin Parents for Public Education.  We will not clutter your inbox with unsolicited e-mails and we will never give or sell your e-mail address to a third party.  We will provide critical updates on ways you can be involved in the education of your child.</p>
          <form id="joinTheList" action="/members" method="post">
          	<p class="label">First Name:</p>
          	<input type="text" name="firstName" id="firstNameField" placeholder="First Name" required="true"><br>
          	<p class="label">Last Name:</p>
          	<input type="text" name="lastName" id="lastNameField" placeholder="Last Name" required="true"><br>
          	<p class="label">E-Mail:</p>
          	<input type="email" name="address" id="eMailField" placeholder="E-Mail" required="true"><br>
          	<input type="submit" name="submit" id="submitButton">
          </form>


        </div>
        <div class="col l6 hide-on-small-only">
          <!-- <h5 class="white-text right">Links</h5> -->
          <ul class="right">
            <li><a class="footerLink" href="/">Home</a></li>
        <li><a class="footerLink" href="/benefits">Benefits</a></li>
        <li><a class="footerLink" href="/tech">Tech</a></li>
        <li><a class="footerLink" href="/involvement">Get Involved</a></li>
        <li><a class="footerLink" href="/admin">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <!-- Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> -->
      </div>
    </div>
  </footer>


	<!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="assets/js/materialize.js"></script>
	<script src="assets/js/init.js"></script>
	<script src="assets/js/main.js"></script>