<!-- NAVIGATION -->
<div id="introBar">
	<img src="assets/images/austinPPE.jpg" alt="Austin PPE Logo" id="logo">
</div>
<nav>
	<div class="nav-wrapper blue darken-2">
      <!-- <a href="#!" class="brand-logo">Logo</a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>
</nav>

<div class="mainContent">
	<h4>The Benefits of Parental Ivolvement: What Research Has to Say</h4>

	<p>Researchers have evidence for the positive effects of parent involvement on children, families, and school when schools and parents continuously support and encourage the children's learning and development (Eccles & Harold, 1993; Illinois State Board of Education, 1993). According to Henderson and Berla (1994 ), "the most accurate predictor of a student's achievement in school is not income or social status but the extent to which that student's family is able to:</p>

	<ol>
		<li>Create a home environment that encourages learning</li>
		<li>Express high (but not unrealistic) expectations for their children's achievement and future careers</li>
		<li>Become involved in their children's education at school and in the community</li>
	</ol>

	<p>Henderson and Berla (1994) reviewed and analyzed eighty-five studies that documented the comprehensive benefits of parent involvement in children's education. This and other studies show that parent involvement activities that are effectively planned and well implemented result in substantial benefits to children, parents, educators, and the school.</p>

	<h5>Benefits for the Children</h5>

	<ul>
		<li>Children tend to achieve more, regardless of ethnic or racial background, socioeconomic status, or parents' education level.</li>
		<li>Children generally achieve better grades, test scores, and attendance.</li>
		<li>Children consistently complete their homework.</li>
		<li>Children have better self-esteem, are more self-disciplined, and show higher aspirations and motivation toward school.</li>
		<li>Children's positive attitude about school often results in improved behavior in school and less suspension for disciplinary reasons.</li>
		<li>Fewer children are being placed in special education and remedial classes.</li>
		<li>Children from diverse cultural backgrounds tend to do better when parents and professionals work together to bridge the gap between the culture at home and the culture in school.</li>
		<li>Junior high and high school students whose parents remain involved usually make better transitions and are less likely to drop out of school.</li>
	</ul>

</div>