<!-- NAVIGATION -->
<div id="introBar">
	<img src="assets/images/austinPPE.jpg" alt="Austin PPE Logo" class="logo">
</div>
<nav>
	<div class="nav-wrapper blue darken-2">
      <!-- <a href="#!" class="brand-logo">Logo</a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/involvement">Get Involved</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/involvement">Get Involved</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
</nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax" id="pic"><img src="assets/images/senior.jpeg" alt="Girl, in cap and gown, holding a banner saying 'Senior'"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4"><i class="material-icons">trending_down</i></h2>
            <!-- <h5 class="center">Point # 1</h5> -->

            <p class="light">64% of parents say it is natural to become less involved in a child's schoolwork as they enter the later grades.  Reasons cited by parents include icreasingly complex schoolwork, difficulty communicating with their child, not wanting to interfere with the classes, and a large number of teachers to remain in contact with.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4"><i class="material-icons">spellcheck</i></h2>
            <!-- <h5 class="center">Point # 2</h5> -->

            <p class="light">Studies show that parent involvement activities that are effectively planned and well implemented result in substantial benefits to children, parents, educators, and the school.  The most accurate predictor of a student's achievement in school is not income or social status, but the extent to which that student's family is able to create a positive learning environment.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4"><i class="material-icons">stars</i></h2>
            <!-- <h5 class="center">Point # 3</h5> -->

            <p class="light">Succesfull education requires a relationship between the parents, the student, and the schools.  This relationship can be nourished by having a single point of contact at the school, homework hotlines, and flexible conferences.  A strong relationship between parents and the school liason is beneficial for all parties and can dramtically improve the performance of the individual student and the school as a whole.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <!-- <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div> -->
    <div class="parallax"><img src="assets/images/swingBoy.jpeg" alt="A boy playing on a swingset"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
      	<div class="col l4">
      		<div id="linkBox">
	      		<h4>Links</h4>
	      		<ul id="edLinks">
	      			<li><a href="https://www.austinisd.org/" target="_blank">Austin ISD</a></li>
	      			<li><a href="http://acpta.txpta.org/" target="_blank">Austin PTA</a></li>
	      			<!-- <li><a href="https://www.austinisd.org/" target="_blank">Austin ISD</a></li> -->
	      		</ul>
	      	</div>
      	</div>
      	<div class="col l4 tweetLogoBox valign-wrapper">
      		<img src="assets/images/austinPPE.jpg" alt="Austin PPE Logo" class="logo2 valign">
      	</div>
        <div class="col l4"> 
          <div id="twitterFeed">
          	<a class="twitter-timeline" href="https://twitter.com/austinparents">Tweets by @austinparents</a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/desk.jpeg" alt="Unsplashed background img 3"></div>
  </div>


<!-- FOOTER -->
  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text" id="joinTitle">Join Our Mailing List</h5>
          <p class="black-text text-lighten-1">Please join our mailing list to receive important news and updates from Austin Parents for Public Education.  We will not clutter your inbox with unsolicited e-mails and we will never give or sell your e-mail address to a third party.  We will provide critical updates on ways you can be involved in the education of your child.</p>
          <form id="joinTheList" action="/members" method="post">
          	<p class="label">First Name:</p>
          	<input type="text" name="firstName" id="firstNameField" placeholder="First Name" required="true"><br>
          	<p class="label">Last Name:</p>
          	<input type="text" name="lastName" id="lastNameField" placeholder="Last Name" required="true"><br>
          	<p class="label">E-Mail:</p>
          	<input type="email" name="address" id="eMailField" placeholder="E-Mail" required="true"><br>
          	<input type="submit" name="submit" id="submitButton">
          </form>


        </div>
        <div class="col l6 s12">
          <!-- <h5 class="white-text">Connect</h5> -->
          <ul class="right">
            <li><a class="footerLink hoverable" href="#!">Home</a></li>
            <li><a class="footerLink hoverable" href="#!">Benefits</a></li>
            <li><a class="footerLink hoverable" href="#!">Link 3</a></li>
            <li><a class="footerLink hoverable" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <!-- Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> -->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>
  <script src="assets/js/main.js"></script>