<nav class="white black-text" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo black-text">Austin Parents for Public Education</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="black-text">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <<!-- h1 class="header center black-text">Austin Parents Student....</h1> -->
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
        <div class="row center">
          <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax" id="pic"><img src="assets/images/senior.jpeg" alt="Girl in cap and gown holding a banner saying 'Senior'"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Point # 1</h5>

            <p class="light">A brief blurb describing the primary focus of the organization. This doesn't have to be very long, but will probably visually look best if it is at least a few sentences.  A short paragraph.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Point # 2</h5>

            <p class="light">Same as point # 1. We can also change each of the icons above these points so they are more reflective of the content.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Point # 3</h5>

            <p class="light">Final point.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/swingBoy.jpeg" alt="A boy playing on a swingset"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Twitter Feed</h4>
          <p class="left-align light">I think this is where I will put the tweets</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/desk.jpeg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Join Our Mailing List</h5>
          <p class="grey-text text-lighten-4">Please join our mailing list to receive important news and updates from Austin Parents for Public Education.  We will <strong>not</strong> clutter your inbox with tons of unsolicited e-mails and we will <strong>never</strong> give or sell your e-mail address to a third party.  We will provide critical updates on ways you can be involved in the education of your child.</p>
          <form id="joinTheList">
          	<input type="text" name="firtstName" id="firstNameField" placeholder="First Name" required="true">
          	<input type="text" name="lastName" id="lastNameField" placeholder="Last Name" required="true">
          	<input type="e-mail" name="address" id="mailField" placeholder="E-Mail Address">
          	<input type="submit" name="submit">
          </form>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>
  <script src="assets/js/main.js"></script>