<!-- NAVIGATION -->
<div id="introBar">
  <img src="assets/images/blueLogo.jpg" alt="Austin PPE Logo" class="logo">
</div>

<nav class="z-depth-3">
  <div class="nav-wrapper blue darken-2">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/involvement">Get Involved</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/involvement">Get Involved</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
</nav>


<!-- MAIN CONTENT ++++++++++++++++++++++++++++++++++++++++++ -->

<!-- First Image+++++++++++++ -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax" id="pic"><img src="assets/images/senior.jpeg" alt="Girl, in cap and gown, holding a banner saying 'Senior'"></div>
  </div>


<!-- ICONS WITH STATS++++++++++++++++ -->
  <div class="container">
    <div class="section">
      <div class="row splashPageInfo">
        <div class="col s12 m4">
          <div class="icon-block missionStatement">
            <h5 class="center">Our mission</h5>
            <p class="light">Educate and engage the public.  Continually work with parents, school officials, teachers, business and community leaders to promote an environment in which public schools can flourish</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block missionStatement">
            <h5 class="center">Our Principles</h5>
            <p class="light">Austin Parents for Public Schools exists to unite those who value public education, empowering them to be strong advocates for excellence in our public schools.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block missionStatement">
            <h5 class="center">Our goals</h5>
            <p class="light">Increase ongoing family involvement in schools.  Increase parent awareness with school policies and  district agendas.  Increase school enrollment and retention.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Second Image+++++++++++++ -->
  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="assets/images/swingBoy.jpeg" alt="A boy playing on a swingset"></div>
  </div>

<!-- ICONS WITH STATS++++++++++++++++ -->
  <div class="container">
    <div class="section">
      <div class="row splashPageInfo">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">trending_down</i></h2>
            <p class="light">64% of parents say it is natural to become less involved in a child's schoolwork as they enter the later grades.  Reasons cited by parents include icreasingly complex schoolwork, difficulty communicating with their child, not wanting to interfere with the classes, and a large number of teachers to remain in contact with.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">spellcheck</i></h2>
            <p class="light">Studies show that parent involvement activities that are effectively planned and well implemented result in substantial benefits to children, parents, educators, and the school.  The most accurate predictor of a student's achievement in school is not income or social status, but the extent to which that student's family is able to create a positive learning environment.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">stars</i></h2>
            <p class="light">Succesfull education requires a relationship between the parents, the student, and the schools.  This relationship can be nourished by having a single point of contact at the school, homework hotlines, and flexible conferences.  A strong relationship between parents and the school liason is beneficial for all parties and can dramtically improve the performance of the individual student and the school as a whole.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Third Image+++++++++++++ -->
  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="assets/images/desk.jpeg" alt="A boy working at a desk"></div>
  </div>


<!-- FOOTER -->
  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text" id="joinTitle">Austin Parents for Public Education is looking for advocates!</h5>
          <p class="black-text text-lighten-1">It’s our goal to communicate with parents, so they have the greatest understanding of their school, teachers, and opportunities to reach their child’s maximum potential.</p>
          <form id="joinTheList" action="/members" method="post">
          	<p class="label">First Name:</p>
          	<input type="text" name="firstName" id="firstNameField" required="true"><br>
          	<p class="label">Last Name:</p>
          	<input type="text" name="lastName" id="lastNameField" required="true"><br>
          	<p class="label">E-Mail:</p>
          	<input type="email" name="address" id="eMailField" required="true"><br>
            <input type="hidden" value="/" name="pathName">
          	<input type="submit" name="submit" id="submitButton">
          </form>


        </div>
        <div class="col l6 hide-on-small-only">
          <ul class="right">
            <li><a class="footerLink" href="/">Home</a></li>
            <li><a class="footerLink" href="/benefits">Benefits</a></li>
            <li><a class="footerLink" href="/tech">Tech</a></li>
            <li><a class="footerLink" href="/involvement">Get Involved</a></li>
            <li><a class="footerLink" href="/admin">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>


  <!--  Twitter Script-->
  <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>
  <script src="assets/js/main.js"></script> -->