.row{
	margin-bottom: 0px;
}

footer.page-footer{
	margin-top: 0px;
}



/*+++++++++++++++++++
NAVIGATION
+++++++++++++++++++*/

#introBar{
	height: 125px;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.logo{
	max-height: 100%;
	max-width: 100%;
}

.mainHeading{
	color: #0e74bc;
	margin: 0px;
	margin-top: 15px;
}

/*+++++++++++++++++++++++++++++++++
SPLASH PAGE
+++++++++++++++++++++++++++++++++*/

.missionStatement{
	margin-top: 70px;
	margin-bottom: 70px;
}

/*+++++++++++++++++++++++++++++++++
BENEFITS
+++++++++++++++++++++++++++++++++*/

.mainContent{
	padding: 20px;
}

.bulletPoint{
	margin-left: 5px;
}

/*+++++++++++++++++++++++++++++++++
GET INVOLVED
+++++++++++++++++++++++++++++++++*/

.getInvolved{
	margin-top: 50px;
}

#twitterFeed{
	height: 300px;
	overflow-y: scroll;
	width: 70%;
	max-width: 100%;
	overflow: -moz-scrollbars-vertical;
}

.webLinks{
	margin-bottom: 50px;
}

/*+++++++++++++++++++++++++++++++++
ADMIN
+++++++++++++++++++++++++++++++++*/

#formHolder{
	height: 600px;
}

#adminLoginForm{
	margin-top: 100px;
	height: 250px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.memberList{
	border: 2px solid black;
	max-height: 700px;
	overflow-y: scroll;
}

.addAdmin{

}





/*+++++++++++++++++++++++++++++++++
FOOTER
+++++++++++++++++++++++++++++++++*/

#joinTheList{
	padding: 15px;
	text-align: center;
}

p.label{
	width: 20%;
	float: left;
	margin-bottom: 0px;
}

#firstNameField{
	width: 70%;
	float: left;
	margin-bottom: 0px;
}

input#firstNameField:focus{
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0 0 red;
}

#lastNameField{
	width: 70%;
	float: left;
	margin-bottom: 0px;
}

input#lastNameField:focus{
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0 0 red;
}

#eMailField{
	width: 70%;
	float: left;
	margin-bottom: 0px;
}

input#eMailField:focus{
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0 0 red;
}

#submitButton{
	margin-top: 10px;
	margin-bottom: 10px;
}

.footerLink{
	color: white;
}

.footerLink:hover{
	color: red;
}

/*MEDIA QUERIES*/
/*++++++++++++++++++++++*/

/*Phone*/

@media only screen and (max-width: 700px) {

	#joinTheList{
		padding: 0px;
	}

	p.label{
		width: 100%;
	}

	#firstNameField{
		width: 100%;
	}

	#lastNameField{
		width: 100%;
	}

	#eMailField{
		width: 100%;
	}

}

.logo2{
	width: 60%;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}


.tweetLogoBox{
	padding: 20px;
	text-align: center;
	height: 350px;
}

#linkBox{
	padding: 20px;
	/*text-align: center;*/
	height: 350px;
	/*border: 1px solid grey;*/
	width: 100%;
}

/*+++++++++++++++++++++++++++++++++
CONSTRUCTION ZONE
+++++++++++++++++++++++++++++++++*/

.placeHolder{
	height: 600px;
}

.constructionSignDiv{
	margin-top: 100px;
	height: 250px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*background-image: url('../images/construction.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
}

.constructionSign{
	max-width: 100%;
	max-height: 100%;
}