.row{
	margin-bottom: 0px;
}



/*+++++++++++++++++++
NAVIGATION
+++++++++++++++++++*/
#introBar{
	height: 125px;
	width: 100%;
	box-sizing: border-box;
}

#logoBox{
	padding: 0px;
	height: 100%;
}

#logo{
	height: 100%;
}

.mainHeading{
	color: #0e74bc;
	margin: 0px;
	margin-top: 15px;
}

.navLinkContainer{
	margin-top: 79px;
	padding: 0px;
	
}

.links{
	padding: 0px;
	margin: 0px;
}

.navLink{
	float: left;
	padding: 12px;
	vertical-align: bottom;
}

#joinTheList{
	padding-top: 15px;
	text-align: center;
	width: 80%;
	box-sizing: border-box;
}

#firstNameField{
	width: 45%;
}

#lastNameField{
	width: 45%;
}

#mailField{
	width: 90%;
}

#submitButton{
	margin-top: 10px;
	margin-bottom: 10px;
}

#twitterFeed{
	height: 400px;
	overflow-y: scroll;
}
 
